p{
    font-size: 20px;
}
div{
    background-color:gray;
    color:lightcoral;
    display: inline-block;
}
#nopadding{
    Padding:0
}
#padding{
    padding: 50px;
}
#topPadding{
    padding-top:50px;
}
#rightPadding{
    padding-right:50px;
}
#leftPadding{
    padding-left:50px;
}
#bottomPadding{
    padding-bottom:50px;
}
/* order is always top, right, bottom, left*/
#mixedPadding{
    padding: 10px 40px 100px 20px;
}
#dottedBorder{
    border: 3px dotted navy;
}
#dashedBorder{
    border: 2px dashed red;
}
#solidBorder{
    border: 4px solid yellow;
}
#doubleBorder{
    border:10px double green;
}
#grooveBorder{
    border: 4px groove orange;
}
 #ridgeBorder{
     border:5px ridge purple;
 }
 #insetBorder{
     border: 10px inset gray;
 }
 #outsetBorder{
     border:10px outset gray
 }
 /* TOP RIGHT BOTTOM LEFT */
 #mixedBorder{
     border-style: groove outset inset groove;
     border-color: chartreuse;
     border-width: 20px;
 }
 .row1{
     width: 25%;
     border: 10px ridge gold;
     margin-left:20px;
     margin-right:20px;
     padding:10px;
     text-align:center;
 }
 .row2{
     width: 30%;
     border: 2px solid black;
     margin-top:20px;
 }
 #center{
     display:block;
     width:25%;
     margin:auto;
 }
 #perLeftMargin{
     height:200px;
     width:25%;
     margin-left:10%;
     margin-right:20%
 }
 #perRightMargin{
     height:200px;
     width:25%;
     margin-right:10%
 }
 .defaultpadding{
    padding:10px;
 }
 .defaultMargin{
    margin: 0px 30px;
 }
 .defaultBorder{
    border: 3px ridge fuchsia;
 }
 /* Selects elements inside other elements*/
 /*section h3{
     font-size:42px;
 }
 section article p{
     color:goldenrod;
 }*/
 /*Selects Multiple Elements*/
 section h3 section p{
     color:goldenrod;
 }
