p{
    font-size: 20px;
}
div{
    background-color:gray;
    color:lightcoral;
    display: inline-block;
}
#nopadding{
    Padding:0
}
#padding{
    padding: 50px;
}
#topPadding{
    padding-top:50px;
}
#rightPadding{
    padding-right:50px;
}
#leftPadding{
    padding-left:50px;
}
#bottomPadding{
    padding-bottom:50px;
}
/* order is always top, right, bottom, left*/
#mixedPadding{
    padding: 10px 40px 100px 20px;
}